path.map_image {
    fill: #CCCCCC;
    stroke: black;
    stroke-width: 0.1
}

.route_source, 
.route_dest {
    stroke: black;
    stroke-width: 0.2;
}

.route_source {
    fill: blue;
    fill-opacity: 0.2;
}

.route_dest {
    fill: red;
    fill-opacity: 0.2;
}

.route_line {
    stroke: lightblue;
    opacity: 0.7;
    stroke-width: 1px;
    fill: none;
}

#mapkey {
    display: none;
    position: fixed;
    border: 1px dotted grey;
    bottom: 2%;
    left: 2%;
    width: 7%;
}

        #mapkey h1 {
            margin: 0px 0px 5px 0px;
            width: 100%;
            text-align: center;
            font-size: 1em;
            background-color: black;
            color: white;
        }

        #mapkey p {
            margin: 0px;
            width: 100%;
            text-align: center;
        }

        #mapkey svg {
            width: 100%;
            height: 100px;
        }

g.route.lowlight {
    display: none;
}

marker path {
    fill: green;
    stroke: green;
    stroke-width: 0.1;
}

circle.stackpoint {
    stroke: red;
    stroke-width: 0.25;
    fill: yellow;
    opacity: 0.5;
}

circle.stackpoint.dragged {
    stroke: yellow;
    fill:  red;
}

