/* general characteristics that apply to all items that sit in the
 * 'flow' of the page */

body {
    font-family: Arial;
    font-size: 10pt;
}

#mapcanvas {
    height: 800px;
    width: 75%;
    border: 0.5% dashed blue;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
}

#route_window {
    width: 23%;
    float: right;
    border-left: 1px solid black;
    padding: 5px;
    margin: 0px;
}

#route_editor_container .form_line {
    margin: 10px 5px;
}

#route_editor_container fieldset legend {
    padding: 0px 10px;
}

table#route_list {
    font-size: 0.8em;
    border-collapse: collapse;
}

        table#route_list tr.invalid {
            background-color: rgba(255, 0, 0, 0.5);
        }

        table#route_list tr.highlight {
            background-color: yellow;
        }

        table#route_list th {
            font-weight: bold;
            cursor: pointer; /* for sort action */
        }

        table#route_list td,
        table#route_list th  {
            border: 1px solid grey;
            padding: 2px 5px;
        }

                /* overwrite the border for the delete col */
                table#route_list td.delete,
                table#route_list th.delete {
                    border: none;
                    cursor: pointer;
                }

/* UI elements */

.ui_float {
    display: none;
    background-color: white;
    position: fixed;
    border: 1px solid black;
    left: 0px;
    top: 0px;
    padding: 20px;
    max-width: 100%;
    overflow: auto;
}

        #csv_input_preview {
            display: none;
        }

                #csv_input_preview_table {
                    border: 1px solid black;
                    border-collapse: collapse;
                    font-size: 0.8em;
                }

                        #csv_input_preview_table thead td {
                            background-color: lightgrey;
                            font-weight: bold;
                        }

                        #csv_input_preview_table td {
                            border: 1px solid black;
                            padding: 5px;
                        }

